*.hprof
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/app/src/main/assets/apps/
/app/build/
/zMapping/
app/*.apk
 */build
/app/proguardMapping.txt
/app/seeds.txt
/app/unused.txt
